.footer {
  height: 20vh;
  background-color: var(--cl-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.media-icon {
  margin: 0 1rem;
}
