.search-input {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  border: 0;
  padding: 1rem 5rem;
  border-radius: 100px;
  width: 90%;
  filter: drop-shadow(3px 6px 12px rgba(0, 0, 0, 0.2));
}

@media (min-width: 768px) {
  .search-input {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
