.icon-wrapper {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.wrapper-1 {
  background: var(--cl-light-blue);
}

.wrapper-2 {
  background: var(--cl-green);
}

.wrapper-3 {
  background: var(--cl-pink);
}

.wrapper-4 {
  background: var(--cl-lighter-blue);
}

.icon-wrapper img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .icon-wrapper {
    margin: 0;
    height: 125px;
    width: 125px;
  }
  .icon-wrapper img {
    width: 60px;
    height: 60px;
  }
}
