.bg-image {
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.delivered {
  background-image: url("../../assets/images/delivered.png");
}
.on-the-way {
  background-image: url("../../assets/images/on_the_way.png");
}
.ready-for-pickup {
  background-image: url("../../assets/images/ready_for_pickup.png");
}
.order-info-received {
  background-image: url("../../assets/images/order_recieved.png");
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.content p {
  padding: 0.5rem 0;
}

.content-info {
  border-radius: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem 0;
}

.user-info {
  background-color: var(--cl-lighter-blue);
}

.package-info {
  background-color: var(--cl-green);
}

.delivery-info {
  border-radius: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  margin-top: 3rem;
  border: 3px solid var(--cl-blue);
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .user-info {
    margin-right: 1rem;
  }

  .package-info {
    margin-left: 1rem;
  }
}
